.group-images {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 7px;
    padding-bottom: 3px;
}

.group-name {
    padding: 10px;
}

.group-list {
    display: inline-block;
    text-align: center;
    width: 270px;
    height: 200px;
    padding: 20px;
    margin: 17px;
}

.group-name {
    font-size: 15px;
}

.group-details {
    display: inline-block;
}