/* .comments {
    list-style: none;
    text-decoration: none;
} */

/* .group-description {
    position: absolute;
    top: 550px;
    left: 100px;
}

.groups-name {
    position: absolute;
    top: 480px;
    left: 130px;
} */