.group-images {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 7px;
    /* padding-bottom: 2px; */
    border: 2px solid #F18701
}

.group-name {
    padding-top: 10px;
    list-style: none;
    padding-right: 65px;
}

.group-list {
    display: inline-block;
    text-align: center;
    width: 270px;
    height: 200px;
    padding-top: 20px;
    margin: 17px;
}

.group-name {
    font-size: 15px;
}

.group-details {
    display: inline-block;
}